body{
    background-color: silver;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid{
    width: 1000px;
    background-color: white;
    border-radius: 20px;
    padding: 50px;
}


.container-fluid .mb-3 #exampleInputEmail1{
    width: 350px;
}

.container-fluid .row .col-6 .card{
    border: none;
}

.container-fluid .row .col-6 .mb-3{
    display: flex;
    justify-content: center;
}


.container-fluid .row .col-6 .card img{
    margin-top: 30px;
    margin-right: 40px;
}



